:root {
  --var-colorAzul: cornflowerblue;
}

.conteiner {
  margin: 0;
  padding: 0;
}

.conteiner h2 {
  background-color: tomato;
  width: calc(100% - 10px);
  margin: 0 5px 0 5px;
  text-align: center;
  position: relative;
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 0;
}

.celulas {
  background-color: var(--var-colorAzul);
  width: 100px;
  height: 100px;
  float: left;
  margin: 5px;
  cursor: pointer;
}

.controles {
  background-color: crimson;
  width: calc(100% - 10px);
  margin: 0 5px 0 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.controles h3 {
  font-size: 2rem;
  cursor: pointer;
}

.botaoResetar {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: var(--var-colorAzul);
  font-weight: 700;
}

.botaoResetar.fechar {
  visibility: hidden;
}

.controles button:hover {
  background-color: var(--var-colorAzul);
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.celulas h1 {
  text-align: center;
  font-size: 3.8rem;
  cursor: pointer;

  /*       Código ABAIXO
   Prevenção de seleção,ou seja, quando clicar na 
  ela nao é selecionada com a cor azul padrão de seleção
  */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
